*{margin:0; padding:0}
ul,ol,dl{list-style:none}
a{text-decoration:none; color:#333; display:block;}

/*common*/
.container{width:1200px; margin:0 auto}
.d-flex{display:flex}
.justify-content-between{justify-content:space-between}
.rel{position:relative}
.abs{position:absolute}
.w1200{width:1200px} /*슬라이더 때문에 넣음*/
.h100{height:100;}
.h200{height:200;}
.h300{height:300;}
.ofh{overflow:hidden}

/*layout*/
/*상단메뉴*/
#hd{padding:30px;}
#hd h1{}
#hd h1 a{}
#hd h1 img{}
#gnb{text-align:center;}
#gnb > li{
    width:150px;
}
#gnb > li > a{
    font-size:18px;
    font-weight:bold;
    background-color:white;
    color:#333;
    padding:10px;
}
#gnb > li:hover > a{
    background-color: #0066ad;
    color:white;
}
#gnb > li:hover .abs{
    height: 150px;
}
#gnb ul{
    text-align:center;
    height:0;
    overflow:hidden;
    transition:0.6s;}
#gnb .abs{
    width:150px;
    z-index:10;
}
#gnb .abs a{
    background-color:#fff;
    color:#333;
    padding:10px;
    font-size:18px;
}
#gnb .abs li:hover a{
    background-color:#30a3f3;
    color:white;
}

/*슬라이드*/
